.table-caract{
   width: 500px;
   font-size: 12px;
}

.table-indicadores{
	width: 450px;
	font-size: 10px;
}


.tabla-selectInd{
	width: 500px;
	cursor: pointer;
	font-size: 12px;
}

.tabla-evaluaIndicador{
	width: 450px;
	font-size: 11px;
}

.centrar{
	margin-left: 200px;
}

.bntInicio{
	width: 20px;
	margin-left: 10px;
}

.logout{
	float: right;
	margin-right: 10px;
}

.user{
  width: 300px;
  margin-left: 100;
}

.navMargen{
	margin-bottom: 5px;
}

.divListasHomeS{
	margin-left: 300px;
}

.divHeaderHomeS{
	margin-left: 250px;
}

.tablaListaIndS{
	font-size: 11px;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.flat-table {
  display: block;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 115%;
  overflow: auto;
  width: auto;
  
  th {
    background-color: rgb(112, 196, 105);
    color: white;
    font-weight: normal;
    padding: 20px 30px;
    text-align: center;
  }
  td {
    background-color: rgb(238, 238, 238);
    color: rgb(111, 111, 111);
    padding: 20px 30px;
  }

.caja {
   margin:20px auto 40px auto;  
   border:1px solid #d9d9d9;
   height:30px;
   overflow: hidden;
   width: 230px;
   position:relative;
}
select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 30px;
   padding: 5px;
   width: 250px;
}
select:focus{ outline: none;}

.caja::after{
  content:"\025be";
  display:table-cell;
  padding-top:7px;
  text-align:center;
  width:30px;
  height:30px;
  background-color:#d9d9d9;
  position:absolute;
  top:0;
  right:0px;  
  pointer-events: none;
  }  
}

label, input { display:block; }
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    h1 { font-size: 1.2em; margin: .6em 0; }
    div#users-contain { width: 350px; margin: 20px 0; }
    div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
    div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }

.mensaje{
  width: 330px;
  height: 120px;
}

.no {
  background: red;
}

.input{
  height: 25px;
}


.checkboxes label {
  display: block;
  float: left;
  padding-right: 10px;
  white-space: nowrap;
}
.checkboxes input {
  vertical-align: middle;
}
.checkboxes label span {
  vertical-align: middle;
}

.lblnombre{
  color: #3498DB;
}

.two-fields {
  width:100%;
}
.two-fields .input-group {
  width:100%;
}
.two-fields input {
  width:50% !important;
}

.tabla-informe{
  font-size: 12px;
}
